{% extends "layout.html" %}
{% block form %}
  <form action="/about" method="post" id="form">

    <ol>
      <li>
        <span>Digite seu IMC:</span>
        <input type="text" name="imc" id="imc-form" required>
      </li>

      <li>
        <label for="smoking">Você fumou nos úlimos 30 dias?</label>
        <select name="smoking" id="smoking-form">
          
          <option value="2">Sim</option>
          <option value="1">Não</option>
        </select>
      </li>

      <li>
        <label for="alcoholDrink">Você bebeu nos úlimos 30 dias?</label>
        <select name="alcoholDrink" id="drink-form">
          
          <option value="2">Sim</option>
          <option value="1">Não</option>
        </select>
      </li>

      <li>
        <label for="stroke">stroke?</label>
        <select name="stroke" id="stroke-form">
          
          <option value="2">Sim</option>
          <option value="1">Não</option>
        </select>
      </li>

      <li>
        <span>Dias sem lesões físicas (últimos 30 dias):</span>
        <input type="text" name="physical" id="physical-form" required>
      </li>

      <li>
        <span>Dias com saúde mental ruim (últimos 30 dias):</span>
        <input type="text" name="mental" id="mental-form" required>
      </li>

      <li>
        <label for="diff">diff?</label>
        <select name="diff" id="diff-form">
          
          <option value="2">Sim</option>
          <option value="1">Não</option>
        </select>
      </li>

      <li>
        <label for="sex">Qual seu sexo?</label>
        <select name="sex" id="sex-form">
          
          <option value="2">Masculino</option>
          <option value="1">Feminino</option>
        </select>
      </li>

      <li>
        <label for="age">Qual sua faixa etária?</label>
        <select name="age" id="age-form">
          
          <option value="2">55-59 anos</option>
          <option value="1">...</option>
        </select>
      </li>

      <li>
        <label for="race">Você se identifica com qual raça?</label>
        <select name="race" id="race-form">
          
          <option value="2">Branco</option>
          <option value="1">Hispânico</option>
        </select>
      </li>

      <li>
        <label for="diabetic">Você tem ou já teve diabetes?</label>
        <select name="diabetic" id="diabetic-form">
          
          <option value="2">Sim</option>
          <option value="1">Não</option>
        </select>
      </li>

      <li>
        <span>Dias com saúde mental ruim (últimos 30 dias):</span>
        <input type="text" name="activity" id="activity-form" required>
      </li>

      <li>
        <label for="generalHealt">Como você classifica sua saúde em geral?</label>
        <select name="generalHealt" id="generalHealt-form">
          
          <option value="2">Boa</option>
          <option value="1">Ruim</option>
        </select>
      </li>

      <li>
        <span>Você dorme geralmente quantas horas durante o dia (24 horas)?:</span>
        <input type="text" name="sleep" id="sleep-form" required>
      </li>

      <li>
        <label for="asthma">Você tem ou já teve asma?</label>
        <select name="asthma" id="asthma-form">
          
          <option value="2">Sim</option>
          <option value="1">Não</option>
        </select>
      </li>

      <li>
        <label for="kidney">KidneyDisease</label>
        <select name="kidney" id="kidney-form">
          
          <option value="2">Sim</option>
          <option value="1">Não</option>
        </select>
      </li>

      <li>
        <label for="cancer">Você tem ou já teve diabetes?</label>
        <select name="cancer" id="cancer-form">
          
          <option value="2">Sim</option>
          <option value="1">Não</option>
        </select>
      </li>



    </ol>
    
    <button type="submit">Realizar predição</button>
    <div id="result"></div>
  </form>

  <!-- jQuery -->
  <script 
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
  </script>
 
  <!-- Aplicação do preventDefault -->
  <script type="text/javascript">
    $(document).on('submit','#form',function(e) {
      console.log('hello');
      e.preventDefault();

      $.ajax({
        type:'POST',
        url:'/about',
        data: {
          imc: $("#imc-form").val(),
          smoking: $("#smoking-form").val(),
          drink: $("#drink-form").val(),
          stroke: $("#stroke-form").val(),
          physical: $("#physical-form").val(),
          mental: $("#mental-form").val(),
          diff: $("#diff-form").val(),
          sex: $("#sex-form").val(),
          age: $("#age-form").val(),
          race: $("#race-form").val(),
          diabetic: $("#diabetic-form").val(),
          activity: $("#activity-form").val(),
          generalHealt: $("#generalHealt-form").val(),
          sleep: $("#sleep-form").val(),
          asthma: $("#asthma-form").val(),
          kidney: $("#kidney-form").val(),
          cancer: $("#cancer-form").val()
        }
      })
    });
  </script>

{% endblock form %}

{% block paragraph %}
  <img src="#" alt="aqui">
{% endblock paragraph %}
