* {
    font-family: 'Open Sans', Helvetica;
    margin: 0;
}

main {
    display: flex;
    height: 100vmin;
}

/* =============== Controle das colunas =============== */
#left-column {
    flex: 1 1 auto;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    min-width: 40%;
   
    color: #F8F8F2;
    background-color: #272727;    
}

#right-column {
    flex: 1 1 auto;
    background-color: #F8F8F2;
    font-size: 95%;

    color: #272727;
}

/* =============== Controle do scroll - coluna do formulário =============== */
#left-column::-webkit-scrollbar {
    width: 0.7pc;
}
  
#left-column::-webkit-scrollbar-track {
    background: #44475a54;        
}
  
#left-column::-webkit-scrollbar-thumb {
    background-color: #44475a;
    border-radius: 20px;
    border: 3px solid #44475a;
}

/* =============== Pagina inicial =============== */
form h4 {
    margin: 3pc auto 1pc auto;

    font-size: 27px;
    font-weight: 500;
}

select {
    background-color: #F8F8F2;
    color: #272727;

    font-size: 13px;
    font-weight: 600;

    margin-top: 5px;

    border: 1px solid #F8F8F2;
    border-radius: 0.5pc;

    height: 2rem;
    width: 11pc;
}

form div {
    padding: 0 6pc;
}

form p {
    margin-top: 1.5pc;
}

form input[type='number'] {
    background-color: #F8F8F2;
    border: 1px solid;
    border-radius: 9px;

    width: 10pc;
    height: 2rem;

    padding-left: 15px;
    margin-top: 5px;

    font-weight: 500;
    font-size: 14px;
}

#left-column #button-position {
    display: flex;
    justify-content: center;
}

form button {
    color: #D9D9D9;
    font-weight: 500;
    font-size: 15px;
    background-color: #3C69C1;

    margin: 4pc 0 2pc 0;
    margin-right: 5px;
    width: 20rem;
    height: 3rem;

    border: 1px solid #3C69C1;
    border-radius: 15px;
}

#right-column #title {
    padding: 3rem 3rem 2rem 3rem;
}

#right-column #title h1 {
    font-weight: 600;
}

#right-column #title p {
    margin-top: 1rem;
}

#right-column a {
    color: #3C69C1;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
}

/* =============== Pagina de resultados =============== */
#result #left-column {
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-column #button {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #D9D9D9;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    background-color: #3C69C1;

    width: 20rem;
    height: 4rem;

    border: 1px solid #3C69C1;
    border-radius: 15px;
}

#right-column #alert {
    margin-top: 3pc;
    font-weight: 600;
    color: #F8F8F2;
    background-color: #092b5a;

    padding: 4pc;

    border-radius: 2pc;
}
